---
interface Props {
  videoId: string;
  title?: string;
}

const { videoId, title = 'YouTube video' } = Astro.props;
---

<div class="youtube-embed my-6 rounded-lg overflow-hidden shadow-lg">
  <div class="relative w-full" style="padding-bottom: 56.25%;">
    <iframe
      class="absolute top-0 left-0 w-full h-full"
      src={`https://www.youtube.com/embed/${videoId}`}
      title={title}
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>

<style>
  .youtube-embed {
    max-width: 100%;
    margin: 0 auto;
  }
</style>
